#define IDBITMAP_PARTICLE	100
#define IDBITMAP_FEATHER1 102
#define IDBITMAP_FEATHER2 103
#define IDBITMAP_WOOD 104
#define IDBITMAP_TEMP 105

IDBITMAP_PARTICLE BITMAP "particle1.bmp"
IDBITMAP_FEATHER1 BITMAP Feather.bmp
IDBITMAP_FEATHER2 BITMAP Feather_op.bmp
IDBITMAP_WOOD BITMAP "woodNew.bmp"
IDBITMAP_TEMP BITMAP "temp.bmp"
