#define IDBITMAP_PARTICLE	100
#define IDBITMAP_FEATHER1 102
#define IDBITMAP_FEATHER2 103
#define IDBITMAP_WOOD 104
#define IDBITMAP_TEMP 105
#define IDBITMAP_FIRST_1 106
#define IDBITMAP_FIRST_2 107
#define IDBITMAP_FIRST_31 1081
#define IDBITMAP_FIRST_32 1082
#define IDBITMAP_FIRST_33 1083
#define IDBITMAP_FIRST_4 109
#define IDBITMAP_FIRST_5 110
#define IDBITMAP_FIRST_6 111
#define IDBITMAP_FIRST_7 112
#define IDBITMAP_FIRST_0 113

IDBITMAP_PARTICLE BITMAP "particle1.bmp"
IDBITMAP_FEATHER1 BITMAP Feather.bmp
IDBITMAP_FEATHER2 BITMAP Feather_op.bmp
IDBITMAP_WOOD BITMAP "woodNew.bmp"
IDBITMAP_FIRST_1 BITMAP "image1.bmp"
IDBITMAP_FIRST_2 BITMAP "image2.bmp"
IDBITMAP_FIRST_31 BITMAP "image31.bmp"
IDBITMAP_FIRST_32 BITMAP "image32.bmp"
IDBITMAP_FIRST_33 BITMAP "image33.bmp"
IDBITMAP_FIRST_4 BITMAP "image4.bmp"
IDBITMAP_FIRST_5 BITMAP "image5.bmp"
IDBITMAP_FIRST_6 BITMAP "image6.bmp"
IDBITMAP_FIRST_7 BITMAP "image7.bmp"
IDBITMAP_FIRST_0 BITMAP "image0.bmp"
